@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    background-color: #e7e7e4;
    font-family: ui-monospace, Menlo, Monaco, Consolas, monospace;
  }
}
